@tailwind base;
@tailwind components;
@tailwind utilities;

.highlight {
    background-color: rgba(75, 89, 248, 0.2);
}

.reaction-icon {
    padding: 0.25rem; /* Same as p-1 in Tailwind */
    cursor: pointer;
}

.reaction-img {
    width: 1.5rem; /* Same as w-6 in Tailwind */
    transition: transform 0.15s ease-in-out; /* Smooth transition for scaling */
}

.reaction-icon:hover .reaction-img {
    transform: scale(1.2);
}

.gap-2 {
    gap: 8px;
}

.reaction-button {
    padding: 4px 8px;
    border-radius: 99px;
}

.text-secondary {
    color: #668085;
}

textarea:focus {
    box-shadow: none;
}

.reply-container {
    display: flex;
    flex-direction: column; /* Default to vertical layout */
}

/* Media Query for larger screens */
@media (min-width: 640px) {
    .reply-container {
        flex-direction: row; /* Switch to horizontal layout */
    }
}

body {
    font-family: "Open Sans", sans-serif;
}

#chapter-content {
    background-color: #f9f9f9;
    padding: 8px;
    border-radius: 8px;
    color: #333;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, color 0.3s;
}

@media (min-width: 768px) {
    #chapter-content {
        padding: 16px;
    }
}

body.dark #chapter-content {
    background-color: #1e1e1e;
    color: #eaeaea;
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);
}

#toolbar {
    bottom: 7.5rem;
    right: 6px;
    background-color: #fff;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
}

body.dark #toolbar {
    background-color: #333;
    color: #333;
}

body.dark #toolbar span {
    color: #fff;
}

#settings-button {
    position: fixed;
    bottom: 4.5rem;
    right: 6px;
    color: white;
    padding: 0.5rem;
    border-radius: 9999px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s;
}

#settings-button:hover {
    transform: scale(1.1);
}

#goTopBtn {
    position: fixed;
    bottom: 1.5rem;
    right: 6px;
    color: white;
    padding: 0.5rem;
    border-radius: 9999px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s;
}

@media (min-width: 768px) {
    #settings-button {
        bottom: 5.5rem;
        right: 2rem;
        padding: 0.75rem;
    }

    #toolbar {
        bottom: 9rem;
        right: 2rem;
    }

    #goTopBtn {
        right: 2rem;
        bottom: 2rem;
        padding: 0.75rem;
    }
}

@media (min-width: 1024px) {
    #settings-button {
        bottom: 6rem;
        right: 2.5rem;
    }

    #toolbar {
        bottom: 9.5rem;
        right: 2.5rem;
    }

    #goTopBtn {
        bottom: 2.5rem;
        right: 2.5rem;
    }
}

#goTopBtn:hover {
    transform: scale(1.1); /* Scale effect on hover */
}
